{% load allauth %}

{% if attrs.href %}

    <a
        href="{{ attrs.href }}"
        class="btn nook-primary-button account-button"
        role="button"
        {% if attrs.id %}
            id="{{ attrs.id }}"
        {% endif %}>

        {% slot %}
        {% endslot %}

    </a>

{% else %}

    <button
        class="btn nook-primary-button account-button"
        {% if attrs.form %}
            form="{{ attrs.form }}"
        {% endif %}
        {% if attrs.id %}
            id="{{ attrs.id }}"
        {% endif %}
        {% if attrs.name %}
            name="{{ attrs.name }}"
        {% endif %}
        {% if attrs.value %}
            value="{{ attrs.value }}"
        {% endif %}
        {% if attrs.type %}
            type="{{ attrs.type }}"
        {% endif %}>

        {% slot %}
        {% endslot %}

    </button>

{% endif %}