# Environment variables / secrets
env.py
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django development database
db.sqlite3

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db