{% extends "allauth/layouts/base.html" %}

{% block body %}

<section class="account-page">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <div class="account-card">

                    <p class="section-eyebrow text-center">
                        Welcome to The Nook
                    </p>

                    {% block content %}
                    {% endblock content %}

                </div>

                <p class="account-return-link">

                    <a href="{% url 'home' %}">
                        ← Return to The Nook
                    </a>

                </p>

            </div>

        </div>

    </div>

</section>

{% endblock body %}