<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto nook-main-nav">

        <!-- Browse Books -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'book_list' %}">
                Browse Books
            </a>
        </li>

        <!-- Genres -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'book_list' %}#catalogue-filters">
                Genres
            </a>
        </li>

        <!-- Authors -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="#">
                Authors
            </a>
        </li>

        <!-- New Releases -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'book_list' %}?sort=newest">
                New Releases
            </a>
        </li>

        <!-- About -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="#">
                About
            </a>
        </li>

    </ul>

</div>