<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto nook-main-nav">

        <!-- Browse Books -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'products' %}">
                Browse Books
            </a>
        </li>

        <!-- Genres -->
        <li class="nav-item dropdown">

            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="genres-link"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Genres
            </a>

            <ul
                class="dropdown-menu"
                aria-labelledby="genres-link">

                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?category=fantasy">
                        Fantasy
                    </a>
                </li>

                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?category=romance">
                        Romance
                    </a>
                </li>

                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?category=crime">
                        Crime &amp; Mystery
                    </a>
                </li>

                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?category=science_fiction">
                        Science Fiction
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}">
                        View All Books
                    </a>
                </li>

            </ul>

        </li>

        <!-- Authors -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="#">
                Authors
            </a>
        </li>

        <!-- New Releases -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'book_list' %}?sort=created_at&direction=desc">
                New Releases
            </a>
        </li>

        <!-- About -->
        <li class="nav-item">
            <a
                class="nav-link"
                href="#">
                About
            </a>
        </li>

    </ul>

</div>