{% with current_url=request.resolver_match.url_name %}
<div class="collapse navbar-collapse" id="main-nav">

    <ul class="navbar-nav w-auto mx-auto nook-main-nav">

        <li class="nav-item">
            <a
                class="nav-link{% if current_url == 'home' %} active{% endif %}"
                href="{% url 'home' %}"
                {% if current_url == 'home' %}
                    aria-current="page"
                {% endif %}>
                Home
            </a>
        </li>

        <li class="nav-item">
            <a
                class="nav-link{% if current_url == 'book_detail' or current_url == 'book_list' and request.GET.show_filters != '1' %} active{% endif %}"
                href="{% url 'book_list' %}"
                {% if current_url == 'book_detail' or current_url == 'book_list' and request.GET.show_filters != '1' %}
                    aria-current="page"
                {% endif %}>
                Books
            </a>
        </li>

        <li class="nav-item">
            <a
                class="nav-link{% if current_url == 'book_list' and request.GET.show_filters == '1' %} active{% endif %}"
                href="{% url 'book_list' %}?show_filters=1#catalogue-filters"
                {% if current_url == 'book_list' and request.GET.show_filters == '1' %}
                    aria-current="page"
                {% endif %}>
                Genres
            </a>
        </li>

        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'book_list' %}?sort=newest">
                New Releases
            </a>
        </li>

        <li class="nav-item">
            <a
                class="nav-link"
                href="{% url 'home' %}#newsletter">
                Newsletter
            </a>
        </li>

    </ul>

</div>
{% endwith %}